*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
header{
    z-index: 999;
}
ul[class]{
    list-style:none;
}
a.current{
    position:relative;
}
a.current::after{
    content:"";
    position:absolute;
    width: 25%;
    left: 50%;
    transform:translateX(-50%);
    bottom: -5px;
    height: 20px;
    background-image:url("/UnderLine.svg");
    background-size: contain;
    background-repeat: no-repeat;
}