---
import Wrapper from "../components/ui/Wrapper.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <section id="hero">
    <Wrapper>
      <h1>About</h1>
    </Wrapper>
  </section>
</Layout>
