---
import Wrapper from "../components/ui/Wrapper.astro";
import Layout from "../layouts/Layout.astro";
import toolsJson from "../data/tools.json";
---

<Layout title="Index">
  <section
    id="hero"
    class="bg-background h-screen overflow-hidden"
    style="background-image:url(/BgDots.svg); background-size:cover;background-position:bottom; background-repeat: no-repeat;"
  >
    <Wrapper
      classes="flex flex-col justify-end h-[100svh] text-center sm:flex-row-reverse sm:items-center sm:gap-10">
      <div class="col-1 sm:self-center">
        <h1 class="mt-10 
        sm:mt-0        
        ">
          <span class="uppercase text-text mb-2 block
          sm:text-xl
          "> Ahmed Lemssiah </span>
          <span class="uppercase text-xl font-black text-text 
          sm:text-7xl
          sm:text-center
          sm:block
          sm:my-10
          ">
            Frontend<em
              class="text-[2rem] text-green inline-block rotate-[25deg] scale-150 z-0 font-black mix-blend-difference
              sm:text-[3rem]
              sm:block
              "
              >Web</em
            >
            Entwickler
          </span>
        </h1>
        <p class="text-text text-center text-xs mt-2
        sm:text-xl
        ">
          Ich manipuliere Pixel, um Visionen ins Leben zur Erwecken
        </p>
        {
          toolsJson && (
            <ul class="flex gap-4 mx-auto w-fit my-5 sm:my-10 bg-text p-5 rounded-xl shadow-xl dark:bg-background dark:shadow-none">
              {toolsJson.map((item) => (
                <li>
                  <a href={item.url} title={item.title}>
                    <img class="h-[30px] sm:h-[50px]" src={item.icon} alt={item.name}/>
                  </a>
                </li>
              ))}
            </ul>
          )
        }
        <div class="call">
          <a href="" class="call text-text font-black text-2xl uppercase">
            Portfolio
          </a>
        </div>
      </div>
      <div class="col-2 
       sm:z-100
       sm:pointer-events-none
       sm:w-[50vw] 
       sm:max-w-[800px]
       sm:h-[90svh]
       sm:overflow-hidden
       sm:self-end
      ">
        <img
          class="w-[70%] mx-auto translate-y-10 sm:w-full block"
          src="/Avatar.svg"
          alt="Ahmed Lemssiah Portfolio Hero Avatar Bild"
        />
      </div>
    </Wrapper>
  </section>

  <section id="about">
    <Wrapper>
      
    </Wrapper>
  </section>

</Layout>

<style>
  a.call {
    position: relative;
    padding-inline-end: 1rem;
    display: inline-block;
  }
  a.call::after {
    content: "";
    position: absolute;
    height: 25px;
    bottom: -18px;
    left: 0;
    right: 0px;
    background-image: url(/UnderLine.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
</style>
