---
import Wrapper from "../components/ui/Wrapper.astro";
import Layout from "../layouts/Layout.astro";
import "../socials.json";
---

<Layout title="Index">
  <section
    id="hero"
    class="bg-dark h-screen"
    style="background-image:url(/BgDots.svg); background-size:cover;background-position:bottom; background-repeat: no-repeat;"
  >
    <Wrapper classes="flex flex-col justify-end h-screen text-center">
      <div class="col-1">
        <h1>
          <span class="uppercase text-xs text-light"> Ahmed Lemssiah </span>
          <span class="uppercase text-xl font-black text-light my-4 block">
            Frontend<em
              class="text-green shadow-xl inline-block rotate-[15deg] scale-125 z-0"
              >Web</em
            >Entwickler
          </span>
        </h1>
      </div>
      <div class="col-2">
        <img
          src="/Avatar.svg"
          alt="Ahmed Lemssiah Portfolio Hero Avatar Bild"
        />
      </div>
    </Wrapper>
  </section>
</Layout>
