---
import ButtonInline from "./ui/ButtonInline.astro";
---

<button
  class="showFormBtn absolute bottom-0 right-0 z-10 pointer-events-auto sm:p-5"
>
  <img
    class="w-[32px] sm:w-[50px]"
    src="/Message.svg"
    alt="Ahmed Lemssiah per Mail Kontaktieren!"
  />
  <i class="fas fa-times fa-2x hidden"></i>
</button>
<form
  class="p-5
max-w-[90%]
mx-auto bg-text text-background rounded-lg
sm:max-w-[400px]
sm:mx-none
sm:ml-auto
sm:mr-[2rem]"
>
  <div class="sm:col-span-3 mb-5">
    <label
      for="status"
      class="block text-sm font-medium leading-6 text-gray-900">Status</label
    >
    <div class="mt-2">
      <select
        id="status"
        name="status"
        autocomplete="status-name"
        class="block w-full rounded-md border-0 py-1.5 text-dark shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-blue sm:max-w-xs sm:text-sm sm:leading-6"
      >
        <option value="pro">Geschäftlich</option>
        <option value="privat">Privateperson</option>
      </select>
    </div>
  </div>

  <div class="sm:col-span-3 mb-5">
    <label
      for="vorname"
      class="block text-sm font-medium leading-6 text-gray-900">Vorname</label
    >
    <div class="mt-2">
      <input
        type="text"
        name="vorname"
        id="vorname"
        required
        autocomplete="given-name"
        class="px-1 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
      />
    </div>
  </div>

  <div class="sm:col-span-3 mb-5">
    <label
      for="nachname"
      class="block text-sm font-medium leading-6 text-gray-900">Nachname</label
    >
    <div class="mt-2">
      <input
        type="text"
        name="nachname"
        id="nachname"
        autocomplete="given-name"
        required
        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
      />
    </div>
  </div>

  <div class="sm:col-span-3 mb-5">
    <label for="mail" class="block text-sm font-medium leading-6 text-gray-900"
      >E-Mail</label
    >
    <div class="mt-2">
      <input
        type="email"
        name="mail"
        id="mail"
        required
        autocomplete="given-name"
        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
      />
    </div>
  </div>

  <div class="message mb-5">
    <label
      for="nachricht"
      class="block text-sm font-medium leading-6 text-gray-900"
      >Nachricht*:</label
    >
    <textarea
      class="block w-full rounded-xl p-2 resize-y min-h-[100px]"
      name="nachricht"
      id="nachricht"
      required
      placeholder="Ihre Nachricht"></textarea>
  </div>
  <div class="shutz mb-5">
    <label for="inputshutz">
      <input type="checkbox" name="inputshutz" id="inputshutz" />
      Ich habe die <ButtonInline
        href="/datenschutz"
        class="text-background underline font-semibold"
        target="_blank">Datenschutz</ButtonInline
      > zur Kenntnis genommen und wurde informiert, dass die von mir angegebenen
      Daten nur zum Zweck der Bearbeitung meiner Nachricht gespeichert werden und
      nicht an Dritte weitergegeben werden.
    </label>
  </div>
  <button
    class="bg-light text-blue font-black uppercase p-5 rounded-lg shadow-xl block w-fit mx-auto hover:bg-lightgreen"
  >
    Nachricht senden
  </button>
</form>
<style>
  form {
    transform: translateY(-20px);
    pointer-events: none;
    opacity: 0;
    transition: all 0.5s;
    max-height: 60svh;
    scroll-behavior: auto;
    overflow-y: auto;
  }
  form.open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
    box-shadow: 0 -15px 20px #00000080;
    border: 1px solid var(--color-dark);
  }
  button.open {
    bottom: auto;
    top: 0;
    right: 0px;
    transition: all 0.5s;
  }
  button.open img {
    display: none;
  }
  button.open i {
    display: inline-block;
    background-color: var(--color-text);
    padding: 5px;
    border-radius: 0 10px 10px 0;
  }
</style>
<script>
  const messageBtn = document.querySelector(".showFormBtn");
  const contactForm = document.querySelector("form");
  messageBtn.addEventListener("click", (e) => {
    e.preventDefault();
    messageBtn.classList.toggle("open");
    contactForm.classList.toggle("open");
  });
</script>
