---
const { classes } = Astro.props;
---

<div
  class={`big-wrapper w-[90%] mx-auto sm:max-w-[1600px] pointer-events-none translate-x-[-50%] left-[50%]  ${classes}`}
>
  <slot />
</div>
<style>
  .big-wrapper {
    z-index: 200;
  }
</style>
