---
const { classes } = Astro.props;
---

<div class={`big-wrapper mx-auto w-[90%] sm:max-w-[110%] pointer-events-none ${classes}`}>
  <slot />
</div>
<style>
  .big-wrapper {
    z-index: 200;
  }
</style>
